body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .logo{
    width: 1100px ;
    height:56px ;
    background-image:url("imagenes/header_logo.png");
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    
  }

  nav{

    height:41px;
    background-color: #EAEAEA; 
    border-bottom: 1px solid #DCDCDC;

  }
  nav div{

    width: 1100px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  ul{

    list-style-type: none;

  }
  li{

    float: left;

    
  
  }
li a{
    color: black;
    margin-right: 15px;
    padding-top: 15px;
    display: inline-block;
    text-decoration:none;

    font-size: 12px;

  }
nav ul li a:hover {
    font-weight: bolder;

    }

  .titulo{
    height: 140px;
    background:#EDEDED; 

    }

    .titulo div{
      width: 980px;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      background-image:url("imagenes/rm_logo_headers.png");
      background-repeat: no-repeat;
      background-position: right top;

    }
    h1{

      margin: 0px;
      padding: 35px 0px 0px 0px; 
      font-size: 50px;
    }
    .principal{
    clear: left;

      width: 980px;
      margin-top: 5px;

      margin-right: auto;
      
      margin-left: auto;
      
    }
    .principal header{
      clear: left;
      font-size: 15px;
      margin: 20px 0px 20px 0px; /* 10px arriba, 3px derecha, 30px abajo, 5px izquierda */

    }
  .jugador{
   float: left;
   width: 220px;
   border: 1px solid #DCDCDC;
   border-top: 2px solid black;
    margin-top: 20px;
    margin-right: 20px;

  }
  .jugador:hover{
    opacity: 0.6;
  }

  .dorsal{
    float: left;;
    height: 50%;
    width: 60px;
    font-size: 35px;
    padding: 20px 0px 20px 0px; /* 10px arriba, 3px derecha, 30px abajo, 5px izquierda */
    border-right: 1px solid  #EDEDED;
    text-align: center;
  }

  .nombre{
  width: 160px;
  padding-top: 25px;
  padding-left: 10px;
  font-weight: bolder;
  font-size: 14px;


}
  .quehace{
    width: 160px;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 12px;
    margin-bottom: 20px;

   
  }


  footer {
    clear: left;

    height: 40px;
    font-size: 12px;
    background-color: #EAEAEA;
    border-top: 1px solid #DCDCDC;
    
  }
  footer div{
    
    width: 1100px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    
    
  }
    /*
    
Un estil pel títol de primer nivell dintre de la secció “titulo”:
El marge a tot el voltant ha de ser de 0px.
El farcit superior ha de ser de 35px i la resta ha de ser de 0px.
La mida de la lletra ha de ser de 50px.

    
    */